@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(150, 89, 108, 0.8), rgba(150, 89, 108, 0.8)) , url('./images/our\ images/bg2.jpg');
    background-size: cover;
    height: 1vh;
    background-repeat: repeat;
    font-family: 'Lexend', sans-serif;
    overflow-x: hidden;
}
.header .image{
    background-image: url('./images/our\ images/3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    display: flex;
    margin: 4rem auto;
    position: relative;
}
.header .image::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--ugao), #F9658E, #fff, #F9658E);
    z-index: -1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 5px;
    border-radius: 100%;
    animation: 3s rotate linear infinite;
}
.header .image::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--ugao), #F9658E, #fff, #F9658E);
    z-index: -1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 5px;
    border-radius: 100%;
    filter: blur(10px);
    animation: 3s rotate linear infinite;
}
.header h1{
    font-family: 'Great Vibes', cursive;
    letter-spacing: 3px;
    font-size: 3rem;
    transform: skewY(-5deg);
    text-align: center;
    color: white;
    
}
@property --ugao{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.header .header-text p::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: conic-gradient(from var(--ugao), #F9658E, #ff92b1, #F9658E);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 15px;
    animation: rotate 3s infinite linear;
}
.header .header-text p::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: conic-gradient(from var(--ugao), #F9658E, #ff92b1, #F9658E);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 15px;
    filter: blur(10px);
    animation: rotate 3s linear infinite;
}
@keyframes rotate{
    from{
        --ugao: 0deg;
    }
    to{
        --ugao: 360deg;
    }
}
.header .header-text p{
    padding: 2rem;
    background-color: #fafafa;
    color: black;
    margin: 3rem 1rem;
    border-radius: 15px;
    text-align: justify;
    position: relative;
}
